/**
 * @description
 * Generates background rgba with background ie fallback
 *
 * @author creinartz
 *
 * @example
 *   .selector {
 *     @include background-rgba(#333, 0.5);
 *   }
 */

@mixin background-rgba($color, $opacity: 0.5)
{
    background: $color; /* fallback */
    background: rgba($color, $opacity);
}


/**
 * @description
 * Disables user selection on element
 *
 * @author creinartz
 *
 * @example
 *   .selector {
 *     @include disable-user-select;
 *   }
 */

@mixin disable-user-select
{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/**
 * @description
 * Generates opacity properties for most browsers.
 *
 * @author creinartz
 *
 * @example
 *   .selector {
 *     @include opacity(0.5);
 *   }
 */

@mixin opacity($fValue)
{
    opacity:        $fValue; /* standard: ff gt 1.5, opera, safari */
    $fValue: $fValue * 100;
    -ms-filter: "alpha(opacity=#{$fValue})"; /* IE8 */
    filter: alpha(opacity=#{$fValue}); /* IE 5-7 */
}


/**
 * @description
 * Produces text-overflow ellipsis on one line text
 *
 * @author creinartz
 *
 * @example
 *   .selector {
 *     @include text-overflow-ellipsis;
 *   }
 */

@mixin text-overflow-ellipsis
{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/**
 * @description
 * Generates transform properties
 *
 * @author creinartz
 *
 * @example
 *   .selector {
 *     @include transform(rotate(-45deg));
 *   }
 */

@mixin transform ($values)
{
    -webkit-transform: $values;
    -ms-transform: $values;
    transform: $values;
}


/**
 * @description
 * Generates transition properties
 *
 * @author creinartz
 *
 * @example
 *   .selector {
 *     @include transition(all 0.5s ease-in);
 *   }
 */
@mixin transition ($values)
{
    -webkit-transition: $values;
    transition: $values;
}


/**
 * @description
 * super fancy vertical align
 *
 * @author creinartz
 * http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
 *
 * @example
 *   .selector {
 *     @include vertical-align;
 *   }
 */

@mixin vertical-align
{
    position: relative;
    top: 50%;
    @include transform(translateY(-50%));
}
/**
 * @description
 * creates media query for hdpi devices
 *
 * @author creinartz
 *
 * @example
 *   .selector {
 *      @include mq-retina(1.5)
 *      { }
 *   }
 */
@mixin mq-retina ($retina-ratio: 2) {
  @media screen and (-webkit-min-device-pixel-ratio: $retina-ratio),
        only screen and (min-device-pixel-ratio: $retina-ratio) {
    @content;
  }
}

/**
 * add the most important class automatically
 *
 * author janvt
 *
 */
@mixin most-important-class-ever() {
    &.x
    {
        @content;
    }
}


/**
 * special mixins for right-to-left / left-to-right
 *
 * author creinartz
 *
 */

//
// Margin styles
//

@mixin margin($top, $trail: null, $bottom: null, $lead: null) {
    @if $trail == null {
        $trail: $top;
    }

    @if $bottom == null {
        $bottom: $top;
    }

    @if $lead== null {
        $lead: $trail;
    }

    @if $leading == left {
        margin: $top $trail $bottom $lead;
    } @else if $leading == right{
        margin: $top $lead $bottom $trail;
    }
}

@mixin margin-leading($margin) {
    margin-#{$leading}: $margin;
}

@mixin margin-trailing($margin) {
    margin-#{$trailing}: $margin;
}

//
// Padding styles
//

@mixin padding($top, $trail: null, $bottom: null, $lead: null) {
    @if $trail == null {
        $trail: $top;
    }

    @if $bottom == null {
        $bottom: $top;
    }

    @if $lead== null {
        $lead: $trail;
    }

    @if $leading == left {
        padding: $top $trail $bottom $lead;
    } @else if $leading == right{
        padding: $top $lead $bottom $trail;
    }
}

@mixin padding-leading($padding) {
    padding-#{$leading}: $padding;
}

@mixin padding-trailing($padding) {
    padding-#{$trailing}: $padding;
}

//
// Border styles
//

@mixin border-leading($one, $two: null, $three: null) {
    @if $three != null {
        border-#{$leading}: $one $two $three;
    } @else if $two != null {
        border-#{$leading}: $one $two;
    } @else {
        border-#{$leading}: $one
    }
}

@mixin border-trailing($one, $two: null, $three: null) {
    @if $three != null {
        border-#{$trailing}: $one $two $three;
    } @else if $two != null {
        border-#{$trailing}: $one $two;
    } @else {
        border-#{$trailing}: $one
    }
}

@mixin float($side)  {
    @if $side == leading {
        float: $leading;
    } @else if $side == trailing {
        float: $trailing;
    }
}

@mixin text-align($side) {
    @if $side == leading {
        text-align: $leading;
    } @else if $side == trailing {
        text-align: $trailing;
    }
}

@mixin background-position($ypos, $xpos) {
    @if $xpos == leading {
        background-position: $ypos $leading;
    } @else if $xpos == trailing {
        background-position: $ypos $trailing;
    }
}

//
// position
//

@mixin position-value($side, $value)
{
    @if $side == leading {
        #{$leading}: $value;
    } @else if $side == trailing {
        #{$trailing}: $value;
    }
}


